doctype html
html(lang='th')
	include ./header.jade
	body
		include ./menu.jade
		.about.header(style="background-image:url('./img/about/header-bg.jpg')")
			.row
				.table
					.table-cell
						h2 ABOUT US
		.about.detail
			.row
				.img.large-3.column
					img(src="./img/about/logo.png")
					.line-container.show-for-large
						.line
				.large-9.column
					.medium-8.medium-centered.large-12
						p.title จุฬาติวเตอร์ ได้ก่อตั้งเมื่อปี 2005
						p ได้เป็นการร่วมกลุ่มของรุ่นพี่ จุฬาฯ ธรรมศาสตร์ เกษตร ศิลปากร และมหิดล ในการกวดวิชาให้กับรุ่นน้องที่สนใจศึกษาต่อเข้าระดับ ปริญญาตรีของ มหาลัยรัฐ โดยเฉพาะ อย่างยิ่ง จุฬาฯ	ธรรมศาสตร์ เกษตร ศิลปากร และมหิดล จากประสบการณ์การสอนที่ยาวนานและโครง การอื่นของทางจุฬา ติวเตอร์ที่เกี่ยวกับการศึกษาไม่ว่า จะเป็นวิทยากรพิเศษนอกสถานที่ให้กับโรงเรียน หรือเขตการศึกษา ทำคลิป วีดีโอการสอนให้กับกลุ่มออกเก็งข้อสอบให้กับ eduzones.com (โครงการ TARO FREE NET) และอื่นอีก มากมายจนทำให้ สถาบันกวดวิชาจุฬาติวเตอร์เป็นที่ยอมรับของสื่อต่างๆ เช่น สยามธุรกิจ กรุงเทพ ธุรกิจ ไทยโพสต์ ข่าวสด ช่อง 5 Sanook.com และอื่นๆ ให้เป็นสถาบันกวดวิชาอินเตอร์ยอดนิยมในหมู่วัยรุ่น
		.about.timeline
			.row
				.item.medium-8.medium-centered.large-10.large-offset-1
					.dot.show-for-large
					p.title ในปี 2009
					p ทางสถาบันกวดวิชาจุฬาติวเตอร์ได้ย้ายสำนักงานมาตั้งอยู่ที่ จุฬา 42 แถวตลาดสาม ย่านเก่า	โดยเปิดสอนวิชาคณิตศาสตร์อินเตอร์เพื่อเตรียมความพร้อมสู่หลักสูตรนานาชาติ ตรี-โท-เอก ของมหาวิทยาลัยรัฐชั้นนำ อาทิ จุฬาลงกรณ์มหาวิทยาลัย ธรรมศาสตร์ เกษตรศาสตร์ ศิลปากร และ มหิดล ซึ่งการเปิดสอนโดย เน้นวิชาอินเตอร์ได้รับความนิยมเป็นอย่างมากจากผู้ปกครองและนักเรียน อันเนื่องจากเมื่อ 3 – 4 ปีที่ผ่านมา กระแสโรงเรียนสองภาษาได้รับความนิยมเป็นอย่างมาก จึงทำให้ นักเรียนเมื่อโตขึ้นเลือกที่จะศึกษาต่อหลักสูตร นานาชาติระดับชั้นปริญญาตรี โท และเอก และในปีเดียว กันทางสถาบันได้มีโอกาสร่วมงานกับหน่วยงานและ องค์กรต่างๆ
					.row.large-10.logo-list
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about1.png")
								p เว็บการศึกษา eduzones.com โครงการ Taro Free NET ในการเก็งข้อสอบ
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about2.png")
								p วิทยากรวิชาภาษาอังกฤษ สำนักงานหลักประกันสุขภาพแห่งชาติ
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about3.png")
								p วิทยากรพิเศษเก็งข้อสอบให้กับ โรงเรียนวีรวัฒน์โยธิน
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about4.png")
								p วิทยากรพิเศษเก็งข้อสอบให้กับ โรงเรียนพูลเจริญวิทยาคม
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about5.png")
								p วิทยากรวิชาภาษาอังกฤษ Trinity International School
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about6.png")
								p วิทยากรพิเศษเก็งข้อสอบให้กับ โรงเรียนครบุรี
							.img.small-6.medium-4.large-3.column.end
								img(src="./img/about/about7.png")
								p วิทยากรวิชาภาษาอังกฤษ Keerapat International School
				.item.medium-8.medium-centered.large-10.large-offset-1
					.dot.show-for-large
					p.title ในปี 2010
					p ทางสถาบันกวดวิชาจุฬาติวเตอร์ได้ทำการขยายสถาบันเพื่อรองรับการนักเรียนที่เพิ่มมากขึ้น และได้ร่วมงานกับหน่วยงานและองค์กรต่างๆ
					.row.large-10.logo-list
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about8.png")
								p ร่วมกับ วิชาการ.คอม จัดทำโครง Pre-test Online
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about9.png")
								p จัดทำโครงการ KBL Exammination	Online ในการเก็งข้อสอบวิชาอินเตอร์ต่างๆ
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about10.png")
								p ร่วมกับ ทรูปลูกปัญญา (เครือ ทรู คอร์ปอเรชั่น จำกัด) จัดทำโครงการ ผลิตวีดีโอสื่อการสอน
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about11.png")
								p วิทยากรพิเศษเก็งข้อสอบให้กับ โรงเรียนเบญจมราชูทิศ
							.img.small-6.medium-4.large-3.column.end
								img(src="./img/about/about12.png")
								p วิทยากรพิเศษเก็งข้อสอบให้กับ โรงเรียนรัตนาธิเบศร์ 
				.item.medium-8.medium-centered.large-10.large-offset-1
					.dot.show-for-large
					p.title ในปี 2011
					p ทางสถาบันกวดวิชาจุฬาติวเตอร์ได้ทำการย้ายสถาบันจากสามย่านมายัง สยาม ซ.8 อาคารสยามกิตติ์ ชั้น6 เพื่อรองรับกับปริมาณนักเรียนที่มากขึ้น
					.row.large-10.logo-list
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about13.png")
								p ร่วมกับ ทรูปลูกปัญญา (เครือ ทรู คอร์ปอเรชั่น จำกัด) จัดทำโครงการ ผลิตวีดีโอสื่อการสอน
							.img.small-6.medium-4.large-3.column
								img(src="./img/about/about14.png")
								p วิทยากรพิเศษเก็งข้อสอบให้กับ โรงเรียนเบญจมราชูทิศ
							.img.small-6.medium-4.large-3.column.end
								img(src="./img/about/about15.png")
								p วิทยากรพิเศษเก็งข้อสอบให้กับ โรงเรียนรัตนาธิเบศร์ 
			.clearfix
		.about.mission
			.row
				.medium-8.medium-centered.column
					h3 เป้าหมายหลักของการเรียนพิเศษ
					p การเรียนพิเศษอาจเป็นเรื่องไม่จำเป็นหากนักเรียนทุกคนมีสติปัญญา ความสามารถและโอกาส ในการเข้าถึง ทรัพยากรการเรียนรู้ที่เท่าเทียมกัน แต่ทว่าความจริงมิได้เป็นเช่นนั้น นักเรียนบางคนอาจ มีพื้นฐานการ เข้าใจ วิธีคิด วิเคราะห์และความถนัดแต่ละวิชาที่แตกต่างกันไป บางคนอาจชำนาญวิชา คณิตศาสตร์มากกว่า	จึงเป็นสาเหตุให้ทำ คะแนนได้มากกว่ามากกว่าวิชาอื่น ดังนั้นการเรียนพิเศษจะ ช่วยปรับพื้นฐาน แก้จุดอ่อน และเสริมจุดแกร่งด้วยเทคนิคต่างๆจากผู้เชี่ยวชาญให้ผู้เรียนมีความมั่นใจ ในการทำโจทย์มากขึ้น
					p นอกจากนี้การเรียนการสอนภายในห้องเรียนตามแบบโรงเรียนทั่วไปก็เป็นอีกเหตุผลหนึ่งที่ส่ง ผลให้เด็กต้อง ขวนขวายออกไปเรียนพิเศษหาความรู้เองนอกห้อง ประการแรก คือปริมาณเด็กนักเรียนต่อห้องมาก เกินกว่าที่ครูผู้สอนจะสอดส่องดูแลและแก้ไขจุดด้อยทางวิชาการได้อย่างใกล้ชิดทั้งหมด เด็กที่มีพื้นฐานต่างจากเพื่อนจะถูกทอดทิ้งไว้
		.clearfix
		//-Footer
		include ./footer-course-link.jade
		include ./footer.jade