
	
//- //Footer
footer
	.foot-nav
		.row
			.medium-9.medium-centered.column
				.row
					.medium-4.large-3.column.show-for-medium
						p.title สมัคร
						a(href="#") คอร์สเรียนสด
						a(href="#") เรียนออนไลน์
						.line
						a(href="#").title ติวเตอร์
						.line
						a(href="#").title สมัครติวเตอร์
						.line
						a(href="#").title BLOG
						.line
						a(href="#").title PARTNER
						.line
					.medium-2.large-2.column.show-for-large
						p.title คอร์สเรียน
						ul
							li
								a(href="#") CU-TEP
							li
								a(href="#") TOEIC
							li
								a(href="#") CU-TEP
							li
								a(href="#") GED
							li
								a(href="#") SAT
							li
								a(href="#") CU-BEST
							li
								a(href="#") TOFEL
							li
								a(href="#") GMAT
							li
								a(href="#") GAT
					.medium-6.large-4.column
						a(href="#").title.show-for-medium เกี่ยวกับเรา
						.line.show-for-medium
						a(href="#").title.show-for-medium ติดต่อเรา
						.line.show-for-medium
						p.address 430/27-28 สยามสแควร์ ซอย9<br>ถ.พระราม 1 แขวงปทุมวัน<br>เขตปทุมวัน กรุงเทพฯ<br>(ชั้น 2-4 ตรงข้ามศูนย์หนังสือจุฬาฯ สยาม)
						p.mail admin@chulatutor.com
						.phone-group
							.phone 02-252-8633
							a(href="tel:02-252-8633").call.show-for-small-only CLICK TO CALL
							//- a(href="tel:02-252-8633").float-right.btn.show-for-small-only CLICK TO CALL
					.medium-2.large-3.column.hide-for-small-only
						p.title โซเชี่ยล
						.social-btn
							a(href="#")
								img(src="./img/footer/w_fb.png")
							a(href="#")
								img(src="./img/footer/w_tw.png")
							a(href="#")
								img(src="./img/footer/w_ig.png")
							a(href="#")
								img(src="./img/footer/w_ln.png")
							a(href="#")
								img(src="./img/footer/w_yt.png")
							a(href="#")
								img(src="./img/footer/w_gp.png")
	.copy
		.row
			.column
				| Copyright © 2011 © www.chulatutor All Rights Reserved.
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='./js/slick.min.js')
script(src='./js/custom-dist.js')