.footer.course
	.row
		.medium-9.medium-centered.column
			h3 คอร์สเรียน
		.medium-9.medium-centered.column
			.row
				.item.medium-6.large-4.column.clearfix
					.icon.float-left
						img(src="./img/footer/c1.png")
					.desc.float-left
						.title CU-TEP
						p วิเคราะห์จุดเด่น เน้นจุดด้อยของนักเรียนเป็นรายบุคคล ด้วยทีมอาจารย์
						a(href="#") สมัครเรียน >
				.item.medium-6.large-4.column.clearfix
					.icon.float-left
						img(src="./img/footer/c2.png")
					.desc.float-left
						.title TOEIC
						p วิเคราะห์จุดเด่น เน้นจุดด้อยของนักเรียนเป็นรายบุคคล ด้วยทีมอาจารย์
						a(href="#") สมัครเรียน >
				.item.medium-6.large-4.column.clearfix
					.icon.float-left
						img(src="./img/footer/c3.png")
					.desc.float-left
						.title CU-TEP
						p วิเคราะห์จุดเด่น เน้นจุดด้อยของนักเรียนเป็นรายบุคคล ด้วยทีมอาจารย์
						a(href="#") สมัครเรียน >
				.clearfix.show-for-large
				.item.medium-6.large-4.column.clearfix
					.icon.float-left
						img(src="./img/footer/c4.png")
					.desc.float-left
						.title GED
						p วิเคราะห์จุดเด่น เน้นจุดด้อยของนักเรียนเป็นรายบุคคล ด้วยทีมอาจารย์
						a(href="#") สมัครเรียน >
				.item.medium-6.large-4.column.clearfix
					.icon.float-left
						img(src="./img/footer/c5.png")
					.desc.float-left
						.title SAT
						p วิเคราะห์จุดเด่น เน้นจุดด้อยของนักเรียนเป็นรายบุคคล ด้วยทีมอาจารย์
						a(href="#") สมัครเรียน >
				.item.medium-6.large-4.column.clearfix
					.icon.float-left
						img(src="./img/footer/c6.png")
					.desc.float-left
						.title CU-BEST
						p วิเคราะห์จุดเด่น เน้นจุดด้อยของนักเรียนเป็นรายบุคคล ด้วยทีมอาจารย์
						a(href="#") สมัครเรียน >