.footer.social
	.row
		.small-10.small-centered.medium-12.medium-centered.column
			h3 Follow us on
			a(href="#")
				img(src="./img/footer/fb.png")
			a(href="#")
				img(src="./img/footer/tw.png")
			a(href="#")
				img(src="./img/footer/ig.png")
			a(href="#")
				img(src="./img/footer/ln.png")
			a(href="#")
				img(src="./img/footer/yt.png")
			a(href="#")
				img(src="./img/footer/gp.png")