.footer.quote
	.row
		.small-10.small-centered.medium-6.medium-centered.column “กว่านักเรียนคนหนึ่งจะเอนท์ติด พวกเขาต้องฝ่าฟันอุปสรรคนานหลายเดือน กว่าจะได้คะแนนสูงพอดังที่หวังไว้ Warwick Institute พร้อมเป็นบ้านอีกหลังหนึ่ง ที่ให้ทั้งการเรียน กำลังใจ ตลอดจนกิจกรรมต่างๆ คอยเติมเต็มชีวิตให้ไม่ย่อท้อ"