.footer.course-link.show-for-medium
	.row
		.medium-9.medium-centered.column
			h3 คอร์สเรียน
			ul
				li
					a(href="#") SAT
				li
					a(href="#") CU-AAT
				li
					a(href="#") CU-BEST
				li
					a(href="#") CU-TEP
				li
					a(href="#") CU-ATS
				li
					a(href="#") TOEIC
				li
					a(href="#") IELTS
				li
					a(href="#") TOEFL
				li
					a(href="#") TU-GET
				li
					a(href="#") GED
				li
					a(href="#") SMART-I
				li
					a(href="#") SMART-II
				li
					a(href="#") TOEFL
				li
					a(href="#") MUIC
				li
					a(href="#") GMAT
				li
					a(href="#") IGCSE
				li
					a(href="#") GAT