doctype html
html(lang='th')
	include ./header.jade
	body
		include ./menu.jade
		.social-float.hide-for-small-only
			a(href="#").fb
			a(href="#").tw
			a(href="#").ig
			a(href="#").ln
		.hero
			.row.expanded
				img(src="./img/hero/hero1.jpg")
				a(href="tel:02-252-8633").call.show-for-small-only
				.notification.hide-for-small-only
					span 99
					.noti-box.hide
						.title ข่าวอัพเดท
						.item
							ul
								li
									a(href="#") 
										img(src="http://placehold.it/100x100")
										.detail
											.title โปรโมชั่น
											.desc สมัครสมาชิกวันนี้ รับสิทธิ์เรียนฟรี  10 ชั่วโมง
								li
									a(href="#") 
										img(src="http://placehold.it/100x100")
										.detail
											.title โปรโมชั่น
											.desc สมัครสมาชิกวันนี้ รับสิทธิ์เรียนฟรี  10 ชั่วโมง
								li
									a(href="#") 
										img(src="http://placehold.it/100x100")
										.detail
											.title โปรโมชั่น
											.desc สมัครสมาชิกวันนี้ รับสิทธิ์เรียนฟรี  10 ชั่วโมง
								li
									a(href="#") 
										img(src="http://placehold.it/100x100")
										.detail
											.title โปรโมชั่น
											.desc สมัครสมาชิกวันนี้ รับสิทธิ์เรียนฟรี  10 ชั่วโมง
								li
									a(href="#") 
										img(src="http://placehold.it/100x100")
										.detail
											.title โปรโมชั่น
											.desc สมัครสมาชิกวันนี้ รับสิทธิ์เรียนฟรี  10 ชั่วโมง
								li
									a(href="#") 
										img(src="http://placehold.it/100x100")
										.detail
											.title โปรโมชั่น
											.desc สมัครสมาชิกวันนี้ รับสิทธิ์เรียนฟรี  10 ชั่วโมง
								li
									a(href="#") 
										img(src="http://placehold.it/100x100")
										.detail
											.title โปรโมชั่น
											.desc สมัครสมาชิกวันนี้ รับสิทธิ์เรียนฟรี  10 ชั่วโมง
		.search-box.clearfix
				.brand.medium-12.large-6.column
					.lead-img.small-3.large-5.column
						img(src="./img/brand/brand.png")
					.small-9.large-7.column
						p “จุฬาติวเตอร์” สถาบันอันดับ 1 <br>เพื่อเตรียมความพร้อม หลักสูตรนานาชาติ
						span สอนโดย อ.เปิ้ล และทีมคณาจารย์จุฬา แท้ 100%
				.search.large-6.show-for-large.column
					form
						.large-6.column
							input(type="text", placeholder="ค้นหาคอร์สเรียน")
						.large-6.column
							button ค้นหาคอร์ส
		.slide-home
			.row.expanded
				.slide-group
					.item
						.medium-6.large-7.column.img(style="background-image: url(./img/slider/example.jpg)")
							img(src="./img/slider/gradient.png")
						.medium-6.large-5.column
							.quote.small-7.small-offset-1.medium-8.medium-offset-2.large-7.large-offset-0.column
								img(src="./img/slider/logo.jpg").logo
								p.say "จากที่ไม่มั่นใจ พื้นฐานแย่ แค่เวลาไม่กี่ชั่วโมง ตอนนี้เป็นนิสิตจุฬาแล้วครับ"
								p.name ไมค์ พิรัชต์ นิธิไพศาลกุล
					.item
						.medium-6.large-7.column.img(style="background-image: url(./img/slider/example.jpg)")
							img(src="./img/slider/gradient.png")
						.quote.medium-6.large-5.column
							.small-7.small-offset-1.medium-8.medium-offset-2.large-7.large-offset-0.column
								img(src="./img/slider/logo.jpg").logo
								p.say "จากที่ไม่มั่นใจ พื้นฐานแย่ แค่เวลาไม่กี่ชั่วโมง ตอนนี้เป็นนิสิตจุฬาแล้วครับ"
								p.name ไมค์ พิรัชต์ นิธิไพศาลกุล
					.item
						.medium-6.large-7.column.img(style="background-image: url(./img/slider/example.jpg)")
							img(src="./img/slider/gradient.png")
						.quote.medium-6.large-5.column
							.small-7.small-offset-1.medium-8.medium-offset-2.large-7.large-offset-0.column
								img(src="./img/slider/logo.jpg").logo
								p.say "จากที่ไม่มั่นใจ พื้นฐานแย่ แค่เวลาไม่กี่ชั่วโมง ตอนนี้เป็นนิสิตจุฬาแล้วครับ"
								p.name ไมค์ พิรัชต์ นิธิไพศาลกุล
					.item
						.medium-6.large-7.column.img(style="background-image: url(./img/slider/example.jpg)")
							img(src="./img/slider/gradient.png")
						.quote.medium-6.large-5.column
							.small-7.small-offset-1.medium-8.medium-offset-2.large-7.large-offset-0.column
								img(src="./img/slider/logo.jpg").logo
								p.say "จากที่ไม่มั่นใจ พื้นฐานแย่ แค่เวลาไม่กี่ชั่วโมง ตอนนี้เป็นนิสิตจุฬาแล้วครับ"
								p.name ไมค์ พิรัชต์ นิธิไพศาลกุล
		.channel
			.row
				.column
					h3 ชาแนลของจุฬาติวเตอร์
				.show-for-small-only
					.column
						img(src="./img/channel/ch-place-mobile.png")
				.for-button.medium-1.column.show-for-medium
				.medium-10.column
					.slide-group.row.show-for-medium
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch1.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch2.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch3.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch4.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch5.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch6.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch1.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch2.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch3.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch4.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch5.jpg")
						.item.medium-6.large-4.column
							.hover
							img(src="./img/channel/ch6.jpg")
						
				.for-button.medium-1.column.show-for-medium
		.promote
			.row
				.column
					h3 สถาบันยอดนิยม โดย
			.row
				.medium-11.medium-centered.column
					.row
						.for-button.column.medium-1.hide-for-small-only
						.slide-group.medium-10.column
							img(src="./img/promote/p1.png")
							img(src="./img/promote/p2.png")
							img(src="./img/promote/p3.png")
							img(src="./img/promote/p4.png")
							img(src="./img/promote/p5.png")
							img(src="./img/promote/p6.png")
							img(src="./img/promote/p1.png")
							img(src="./img/promote/p2.png")
							img(src="./img/promote/p3.png")
							img(src="./img/promote/p4.png")
							img(src="./img/promote/p5.png")
							img(src="./img/promote/p6.png")
						.for-button.column.medium-1.hide-for-small-only
		//-Footer
		include ./footer-social.jade
		include ./footer-quote.jade
		include ./footer-about.jade
		include ./footer-course.jade
		include ./footer-course-link.jade
		include ./footer.jade