.page-nave
	.row
		.column
			ul
				li 
					a(href="./index.html") Home
				li
					a(href="./course.html") Course
				li
					a(href="./portfolio.html") Portfolio
				li
					a(href="./tutor.html") Tutor Detail
				li
					a(href="./tutor-register.html") Tutor Register
				li
					a(href="./about.html") About Us
				li
					a(href="./contact.html") Contact Us
				li
					a(href="./single.html") Single Page Template
.top-nav.clearfix
	.row
		.column
			ul.float-left.show-for-large
				li 
					a(href="#") IELTS
				li
					a(href="#") TOEIC
				li
					a(href="#") GED
				li
					a(href="#") SAT
				li
					a(href="#") CU-TEP
				li
					a(href="#") CU-AAT
				li
					a(href="#") CU-BEST
				li
					a(href="#") CU-ATS
				li
					a(href="#") TU-GET
				li
					a(href="#") TOEFL
				li
					a(href="#") GMAT
				li
					a(href="#") IGCSE
				li
					a(href="#") SMART-II
				li
					a(href="#") GAT
			.right-element.float-right
				.tel
					span 084-942-4261
					span , 
					span 084-543-8602
				.language
					a(href="#")
						img(src="./img/top-nav/thai.png")
					a(href="#")
						img(src="./img/top-nav/eng.png")
//- .visible-things
//- 	.row
//- 		.column
//- 			p.show-for-small-only Small
//- 			p.show-for-medium-only Medium
//- 			p.show-for-large Large
nav.clearfix
	.title-bar.hide-for-large
		.logo-bar.float-left 
			img(src="./img/nav/chula-mobile-logo.png")
		button.menu-icon(type='button').float-right
	#main-menu.clearfix
		.row
			.logo-main.float-left
				img(src="./img/nav/chula-desktop-logo.png").show-for-large
			ul.dropdown.menu.main-menu.float-left
				li.active
					a(href="#") Home
				li.sub-menu
					a(href="#") Apply
					.sub-menu-item
						.block-contain.clearfix
							h2.float-left.show-for-large สมัคร
							ul.float-left
								li
									a(href="#") คอร์สเรียนสด
								li
									a(href="#") คอร์สเรียนออนไลน์
				li.sub-menu
					a(href="#") Course
					.sub-menu-item
						.block-contain.clearfix
							h2.float-left.show-for-large คอร์สเรียน
							ul.float-left
								li
									a(href="#") SAT
								li
									a(href="#") CU-AAT
								li
									a(href="#") CU-BEST
								li
									a(href="#") CU-TEP
								li
									a(href="#") CU-ATS
								li
									a(href="#") TOEIC
								li
									a(href="#") IELTS
								li
									a(href="#") TOEFL
								li
									a(href="#") TU-GET
								li
									a(href="#") GED
								li
									a(href="#") SMART-I
								li
									a(href="#") SMART-II
								li
									a(href="#") TOEFL
								li
									a(href="#") MUIC
								li
									a(href="#") GMAT
								li
									a(href="#") IGCSE
								li
									a(href="#") GAT
				li
					a(href="#") Online Course
				li.sub-menu
					a(href="#") Tutor
					.sub-menu-item
						.block-contain.clearfix
							h2.float-left.show-for-large ติวเตอร์
							ul.float-left
								li
									a(href="#") ติวเตอร์เปิ้ล
								li
									a(href="#") ติวเตอร์xxx
								li
									a(href="#") ติวเตอร์xxx
								li
									a(href="#") ติวเตอร์xxx
								li
									a(href="#") สมัครติวเตอร์
				li
					a(href="#") Portfolio
				li
					a(href="#") Blog
				li
					a(href="#") About us
				li
					a(href="#")
						img(src="./img/nav/search.png").search
.news-bar
	.row
		.large-10.large-centered.column
				p.show-for-large คอร์สเรียน IELTS เดือนพฤศจิกายน วันธรรมดาช่วงบ่าย เริ่ม 9 พฤศจิกายน, วันธรรมดาช่วงเย็น เริ่ม 9 พฤศจิกายน, วันเสาร์-อาทิตย์ เริ่ม 13 พฤศจิกายน