doctype html
html(lang='th')
	include ./header.jade
	body
		include ./menu.jade
		.portfolio.header
			.row
				h2 PORTFOLIO
		.portfolio.stat
			.row
				.medium-6.large-8.column
					img(src="./img/portfolio/stat.jpg")
				.medium-6.large-4.column
					p.title สถาบันได้ทำให้นักเรียนนับหมื่นคนสอบ   
					p.number 10,000 คน 
					p.title ติดด้วยสถิติสูงสุด
					p.number 90%
					p.title (จากนิตยสารการศึกษาชั้นนำ U-Guige)  
		.portfolio.desc
			.row.expanded
				.text.large-6.column
					.medium-9.medium-offset-2
						p <strong>ผลงานที่ผ่านมา</strong>
						p จากจุดเริ่มต้นตั้นปี พ.ศ. 2548 ที่สถาบันกวดวิชา จุฬาติวเตอร์ได้ก่อตั้งขึ้น โดยกลุ่มนิสิตในขณะ นั้นจาก 5 สถาบัน ประกอบด้วย จุฬาฯ ธรรมศาสตร์ เกษตร ศิลปกร และ มหิดล ด้วยการส่งนิสิตสอนตามรั่ว มหาวิทยาลัย ตามบ้านจนถึงตามสถานที่ แล้วแต่ตกลง จนถึงปัจุจบันที่ทางสถาบันกวดวิชาจุฬาติวเตอร์ และ ได้มุ่นเน้นกวดวิชาเพื่อเตรียมความพร้อม สู่หลัก สูตรนานาชาติ
				.img.large-6.column
		.portfolio.video
			.row
				h3 วิดีโอผลงานของเรา
			.row
				.slide-group.medium-10.medium-centered
					.item.small-12.medium-6.column
						.hover
						img(src="./img/portfolio/example1.jpg")
					.item.small-12.medium-6.column
						.hover
						img(src="./img/portfolio/example2.png")
					.item.small-12.medium-6.column
						.hover
						img(src="http://placehold.it/600x315")
					.item.small-12.medium-6.column
						.hover
						img(src="http://placehold.it/600x315")
		.portfolio.co-op
			.row
				h3 ร่วมงานกับองค์กรชั้นนำ<br>ในการพัฒนาการศึกษาไทย
				.column.small-6.medium-2.medium-offset-1
					.item
						img(src="./img/portfolio/coop1.jpg")
				.column.small-6.medium-2
					.item
						img(src="./img/portfolio/coop2.jpg")
				.column.small-6.medium-2
					.item
						img(src="./img/portfolio/coop3.jpg")
				.column.small-6.medium-2
					.item
						img(src="./img/portfolio/coop4.jpg")
				.column.small-6.medium-2
					.item
						img(src="./img/portfolio/coop5.jpg")
				.column.medium-1.show-for-medium
		.portfolio.speaker.show-for-medium
			.row
				h3 เป็นวิทยากรให้กับ
				.medium-8.medium-centered.column
					.medium-3.column
						img(src="./img/portfolio/speaker1.jpg")
					.medium-3.column
						img(src="./img/portfolio/speaker2.jpg")
					.medium-3.column
						img(src="./img/portfolio/speaker3.jpg")
					.medium-3.column
						img(src="./img/portfolio/speaker4.jpg")
					.medium-3.column
						img(src="./img/portfolio/speaker5.jpg")
					.medium-3.column
						img(src="./img/portfolio/speaker6.jpg")
					.medium-3.column
						img(src="./img/portfolio/speaker7.jpg")
					.medium-3.column
						img(src="./img/portfolio/speaker8.jpg")
		//-Footer
		include ./footer-social.jade
		include ./footer-course.jade
		include ./footer-course-link.jade
		include ./footer.jade