doctype html
html(lang='th')
	include ./header.jade
	body
		include ./menu.jade
		.social-float.hide-for-small-only
			a(href="#").fb
			a(href="#").tw
			a(href="#").ig
			a(href="#").ln
		.single-page
			.lead-image(style="background-image: url(./img/single/lead.jpg)")
			.content
				.row
					.medium-10.medium-centered.large-12.column.small-uncentered
						.breadcrumb
							ul
								li 
									a(href="#") Home
								li 
									a(href="#") Blog
				.row
					.page-title
						.medium-10.medium-centered.large-12
							.large-9.column
								h1 Review cu-tep ครั้งที่ 10/2559 วันที่ 11 กันยายน 2559
								span.date 20,AUG,2016
							.large-3.column
								.share-group
									.share-number 120<br>SHARE
									.share-btn
										a(href="#").fb SHARE
										a(href="#").tw TWEET
							.clearfix
					.medium-10.medium-centered.large-8.large-uncentered.column
							p ด้วยเทคนิคการสอนที่เราทุ่มเทและพัฒนาอย่างต่อเนื่อง ทำให้กล้ารับประกันได้ว่า เทคนิคของเราจะทำให้คุณทำข้อสอบได้สบายๆ ในเวลาจำกัด หากใครกลัวว่าจะเรียนไม่ทัน ไม่ต้องกลัวอีกต่อไป! เพราะคอร์ส cu tep ของเรายืดหยุ่นได้ และเป็นกันเองกับผู้เรียนมากที่สุด มีโจทย์ให้ฝึกทำมากมายพร้อมเฉลยข้อสอบที่ออกแน่นอน คุณจะได้ไม่พลาดคะแนนสำคัญๆ ไป มีการทบทวนบทเรียนทุกครั้งทำให้การเรียนลื่นไหลและสามารถจำรายละเอียดได้ ใครกลัวเรื่องคำศัพท์ ท่องไม่ครบ รู้ไม่หมด ไม่ต้องกลัวอีกต่อไป เพราะเรามีเทคนิคให้คุณจำคำศัพท์สำคัญๆ ได้อย่างแน่นอน คอนเฟิร์ม! 
							p •	รับรองผล รับประกันสอบผ่าน 550+ ล้านเปอร์เซ็นต์!<br>•	สอนเคล็ดลับพิเศษ การทำข้อสอบ cu-tep reading แบบอ่านแค่ครึ่งเดียว ไม่ต้องแปล แต่เข้าใจทันที

							img(src="./img/single/example.jpg")
							br
							br
							p ด้วยเทคนิคการสอนที่เราทุ่มเทและพัฒนาอย่างต่อเนื่อง ทำให้กล้ารับประกันได้ว่า เทคนิคของเราจะทำให้คุณทำข้อสอบได้สบายๆ ในเวลาจำกัด หากใครกลัวว่าจะเรียนไม่ทัน ไม่ต้องกลัวอีกต่อไป! เพราะคอร์ส cu tep ของเรายืดหยุ่นได้ และเป็นกันเองกับผู้เรียนมากที่สุด มีโจทย์ให้ฝึกทำมากมายพร้อมเฉลยข้อสอบที่ออกแน่นอน คุณจะได้ไม่พลาดคะแนนสำคัญๆ ไป มีการทบทวนบทเรียนทุกครั้งทำให้การเรียนลื่นไหลและสามารถจำรายละเอียดได้ ใครกลัวเรื่องคำศัพท์ ท่องไม่ครบ รู้ไม่หมด ไม่ต้องกลัวอีกต่อไป เพราะเรามีเทคนิคให้คุณจำคำศัพท์สำคัญๆ ได้อย่างแน่นอน คอนเฟิร์ม! 
							p •	รับรองผล รับประกันสอบผ่าน 550+ ล้านเปอร์เซ็นต์!<br>•	สอนเคล็ดลับพิเศษ การทำข้อสอบ cu-tep reading แบบอ่านแค่ครึ่งเดียว ไม่ต้องแปล แต่เข้าใจทันที

							p Reviews ข้อสอบ cu-tep ประจำเดือน<br>หากคุณเคยอ่อนใจกับการหาเทคนิคเพื่อสอบผ่าน cu tep จนท้อแท้ จะอ่านหนังสือด้วยตัวเองก็กลัวเพราะไม่มีใครคอยแนะนำ ไม่มั่นใจเพราะยังไม่รู้แนวข้อสอบ cutep มีบางเรื่องที่เป็นจุดอ่อนและไม่รู้จะแก้ไขอย่างไรดี อยากรู้แนวข้อสอบและเทคนิคการทำข้อสอบ cu-tep ในเวลาอันจำกัด    
					.medium-12.large-4.column
						.medium-10.medium-centered
							.sidebar
								.widget
									img(src="./img/single/exam1.jpg")
								.widget
									img(src="./img/single/exam2.jpg")
								.widget
									.follow
										p FOLLOW CHULAR TUTOR
										a(href="#").fb
										a(href="#").tw
										a(href="#").gp
										a(href="#").yt
		//-Footer
		include ./footer-course.jade
		include ./footer-course-link.jade
		include ./footer.jade