doctype html
html(lang='th')
	include ./header.jade
	body
		include ./menu.jade
		.tutor-person
			.breadcrumb
				.row
					.small-12.column
						ul
							li
								a(href="#") TUTOR
							li
								a(href="#") ติวเตอร์ เปิ้ล
						h3 ติวเตอร์ เปิ้ล
			.row.expanded
				.medium-4.column.no-margin.expanded
					.photo(style="background-image: url('./img/tutor/photo-bg.jpg')").small-12
					.course.small-12
						.large-7.large-offset-4
							.name
								p อาจารย์ พรพรรณ สุวรรณวานิช
								p ชื่อเล่น พี่เปิ้ล
							.open-course
								p คอร์สที่สอน
								ul
									li
										a(href="#") CU-TEP
									li
										a(href="#") CU-AAT
									li
										a(href="#") CU-BEST
									li
										a(href="#") CU-ATS
									li
										a(href="#") TU-GET
				.medium-8.column.no-margin
					.detail(style="background-image: url('./img/tutor/detail-bg.jpg')").small-12
							.detail-table
								.detail-table-cell
									.large-8.column
										.title <strong>พี่เปิ้ล คณะวิทยาศาสตร์ จุฬาฯ</strong>
										.desc เริ่มเป็นติวเตอร์ตั้งแต่ตอนเป็นนิสิต เพราะพี่เป็นคนชอบทำกิจกรรม รุ่นพี่ชวนไปลองสอนดู สอนไปสักพักก็เริ่มสอนจริงจังขึ้น  สอนทุกวิชาตั้งแต่เลข วิทยาศาสตร์ เคมี จนเรียนจบมาทำงานประจำก็ยังสอนไปด้วย แล้วมาเปิดโรงเรียน เพราะพี่รู้สึกว่า ถ้าเราต้องอยู่กับงานไหน ทั้งวันแล้วมีความสุข ก็เลือกอันนั้นดีกว่า
					.photo-2(style="background-image: url('./img/tutor/photo2-bg.jpg')").show-for-medium
			.main-deatil
				.row
					.small-12.column
						p ที่นี่จะมีคอร์สหลักสูตรนานาชาติ ทั้ง SAT ,CU-TEP , CU-AAT , CU-BEST , CU-ATS , SMART-I , TU-GET, IELTS, TOEFL, Math Inter etc. ซึ่งจะได้รับความนิยมตลอด บางครั้งอาจจะต้องมีจองล่วงหน้าด้วย โดยพาะ CU-TEP ที่ช่วงหลังมานี้ได้รับความความนิยมมากขึ้น ไม่ว่าจะปริญญาตรีนานาชาติ ปริญญาโท คนทำงาน จะใช้คะแนน CU-TEP ยื่นทั้งหมด ส่วนตัวพี่จะดูแลวิชาคณิตศาสตร์ หลักสูตรนานาชาติค่ะสักนิดค่ะ
						p โรงเรียนเรามีคอนเสปต์คือ easy to be expert นั่นก็คือการที่คุณจะเป็นคนทำข้อสอบด้วยความชำนาญนั้น เป็นเรื่องง่าย หลายคนที่มาเรียนกับพี่เปิ้ล มีความกังวลใจ ไม่มั่นใจ ว่าจะสามารถทำคะแนนได้ตามที่หวังไว้ได้หรือไม่ ยิ่งหากน้องคนไหนมีเวลาจำกัด ยิ่งมีความกังวลใจมากขึ้น 
						p ซึ่งพี่เปิ้ลอยากจะบอกให้น้องๆ มั่นใจได้เลยว่า นักเรียนที่มาเรียนกับพี่เปิ้ล ส่วนมากสามารถสอบได้คะแนนตามที่หวังได้แน่นอน แม้จะมีเวลาจำกัด 	
			.clearfix
		//-Footer
		include ./footer-social.jade
		include ./footer-quote.jade
		include ./footer-course.jade
		include ./footer-course-link.jade
		include ./footer.jade